body {
 background-image: url("fire.jpeg");
 position: static;
 background-repeat: no-repeat;
  background-attachment: fixed;
}


article {
  margin: 0 auto;
  width: 900px;
  background-color: white;
  border-left: solid;
  border-color-left: black;
  border-width-left: 10px;
  border-width-right: 10px;
  border-color-right: black;
  border-right: solid;
}

header {
  background-image: url("sjihheader.png");
  background-repeat: no-repeat;
  height: 337px;
  vertical-align: middle;
}

header h1 {
  font-family: "Arial Black";
  font-size: 70px;
  color: yellow;
  text-align: center;
  position: relative;
  top: 30%;
}

header p {
  font-family: Georgia;
  color: red;
  text-align: center;
  position: relative;
  top: 25%;
}

nav {
  position: fixed;
  float: left;
  width: 12%;
  margin-left: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li a{
  display: block;
  color: white;
  text-align: left;
  padding: 10px 15px;
  text-decoration: none;
}

li a:hover{
  background-color: red;
}

.active {
  background-color: red;
}

section {
  margin: 10%;
}

footer {
  height: 200px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 100px 20px 100px;
}

footer h4{
  font-family: "Arial Black";
  font-size: 26px;
  color: yellow;
  text-align: center;
}

section h1{
  font-family: "Arial Black";
  font-size: 40px;
  color: red;
  text-align: center;
}

section p{
  text-align: center;
  
}

.bottomlink {
  text-decoration: none;
  color: red;
  
}

section h2 {
  font-family: "Arial Black";
  font-size: 26px;
  color: red;
  text-align: center;
}
